/* Section LESS */

.flowy-container{
	height:300px;
	overflow: hidden;
	img {
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-o-border-radius: 10px;
		border-radius: 10px;
		-moz-box-shadow: 0px 5px 5px #777;
		-webkit-box-shadow: 0px 5px 5px #777;
		box-shadow: 0px 5px 5px #777;
		background-color:#ffffff; 
	}
	.selectedItem{
		-moz-box-shadow: 0 4px 10px rgba(0,0,0,0.35);
		-webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.35);
		box-shadow: 0 4px 10px rgba(0,0,0,0.35);
		border:1px solid rgba(0,0,0,0.35);
	}
}

.itemTitle{
	padding-top:30px;
	font-weight: bold;
}